/*

Created by Dylan Burr &
					 Luis Ocampo

Based off the "New Event" template:
http://www.templatemo.com/tm-486-new-event

*/

body {
		background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
		font-weight: 400;
		overflow-x: hidden;
}

@media (min-width: 992px) {
	body {
		overflow-y: hidden;
	}
}


/*---------------------------------------
    Typorgraphy
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p, #info ul {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General
-----------------------------------------*/
section {
	height: 100%;
}

.shown {
	display: none !important;
}

.section-title {
	margin: 0;
	border-left: 4px solid #036084;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.section-title h2 {
	margin: 0;
	margin-left: 2rem;
	color: #036084;
	font-size: 2.25rem;
	word-spacing: normal;
}

@media (max-width: 800px) {
	.cd-nav-trigger {
		display: none !important;
	}
}

#mlh-trust-badge {
	display:block;
	max-width:100px;
	min-width:60px;
	position:fixed;
	right:10px;
	top:0;
	width:10%;
	z-index:10000;
}

#detail, #video,
#sponsors,
#contact {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#speakers {
	padding-top: 6rem;
	padding-bottom: 2rem;
}

#detail,
#speakers, #sponsors,
footer {
  text-align: center;
}

#overview h3,
#detail h3, #video h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 12px;
}

#intro .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin: -7rem 1rem 0 1rem;
		display: inline-block;
		width: 256px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#contact .btn {
  border-radius: 100px;
}

#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover {
    border-color: #fed132;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}



/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.navbar-toggler {
	color: rgba(0,0,0,.5);
  border-color: rgba(255,255,255,.5);
	padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-width: 1px;
	border-style: solid;
  border-radius: .25rem;
	margin: auto 0 auto auto;
}
.navbar-toggler-icon {
	display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
	background-image: url("../images/hamburger.svg");
}

.custom-navbar {
    margin-bottom: 0;
		transition: all linear 0.2s;
}

.custom-navbar .navbar-collapse {
	margin-left: auto;
	margin-right: 140px;
}

#hacker-guide .custom-navbar .navbar-collapse {
	margin-right: 0;
}

@media (max-width: 1000px) {
	.custom-navbar .navbar-collapse {
		margin-left: auto;
		margin-right: calc(10% + 40px);
	}

	#hacker-guide .custom-navbar .navbar-collapse {
		margin-left: auto;
		margin-right: 0;
	}
}

@media (max-width: 600px) {
	.custom-navbar .navbar-collapse {
		margin-left: auto;
		margin-right: 100px;
	}
}

.custom-navbar .navbar-header {
	margin-top: auto;
	margin-bottom: auto;
}

.custom-navbar .navbar-toggle {
	margin-left: auto;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
		display: flex;
		padding: 0 15px;
}

.custom-navbar .navbar-brand > * {
	margin-top: auto;
	margin-bottom: auto;
}

.custom-navbar .navbar-brand img {
	height: 16px;
	display: inline;
	margin-right: 1rem;
}

.custom-navbar .navbar-brand i {
	font-style: normal;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #fed132;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #fed132;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
    }

}
.custom-navbar.top-nav-collapse {
		background: #666;
		padding: 0;
}



/*---------------------------------------
    Intro section
-----------------------------------------*/
#intro {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/intro-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
		background-attachment: scroll;
		background-color: #222;
    color: #ffffff;
    display:table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100vw;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 115vh;
		line-height: 200px;
}

@media (min-width: 992px) {
	#intro {
		height: calc(100vh);
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}

#intro h3 {
  letter-spacing: 2px;
}

#intro h1 {
	font-size: 7rem;
	letter-spacing: 10px;
}

@media (max-width: 550px) {
	#intro h1 {
		font-size: 5rem;
	}
}

@media (max-width: 390px) {
	#intro h1 {
		font-size: 3.5rem;
	}

	#intro h4 {
		font-size: 1.4rem;
	}
}

#intro .container {
	display: inline-block;
	margin-top: 7rem;
}

#intro .intro-buttons a.btn {
	font-weight: bolder;
}

@media (max-width: 992px) {
	.intro-buttons {
		display: flex;
		flex-wrap: wrap;
	}

	#intro .intro-buttons a.btn {
		margin: 2rem auto;
	}

	.intro-form {
		margin-top: 5rem;
	}
}

#intro input:hover {
	cursor: initial;
}

::placeholder {
	opacity: 1;
	color: white;
}

#intro .row {
	margin-bottom: 0;
}

.havener-link {
	text-decoration: underline !important;
	color: rgb(255,255,255);
	transition: all linear 0.2s;
}

.havener-link:hover {
	color: rgba(255,255,255, 0.65);
}

.timer{
  font-weight: 100;
	line-height: initial;
	width: 95%;
	margin: 2rem 2.5%;
	display: flex;
	border: 2px solid white;
	padding: 1rem;
}
.small {
	font-size: 0.75rem !important;
	font-style: none !important;
}
.timer span {
	font-size: 2em;
}
@media (min-width: 550px) {
	.timer span {
		font-size: 3.5em;
	}
	.small {
		font-size: 1.5rem !important;
	}
}
@media (min-width: 991px) {
	.timer span {
		font-size: 5.5em;
	}
	.small {
		font-size: 1.75rem !important;
	}
}
.timer span{
  display: block;
  float: left;
  background: #ddd;
  text-align: center;
	width: 25%;
	font-weight: bolder;
}
.timer span:last-child {
	margin-right: 0;
}
.timer .days{
	background-color: transparent;
  color: white;
}
.timer .hours{
	color: white;
  background-color: transparent;
}
.timer .minutes{
	background-color: transparent;
  color: white;
}
.timer .seconds{
	color: white;
  background-color: transparent;
}
.timeWrap {
	display: flex;
	flex-direction: column;
}

@keyframes removeText{
  0%{
    margin-top: 0;
  }
  80%{
    margin-top: 0;
  }
  100%{
    margin-top: -10px;
  }
}

@media (max-width: 507px) {
	#intro .container {
		width: 100vw;
		padding: 0;
	}
}

/*---------------------------------------
	 Snippets section
-----------------------------------------*/
#snippets {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-color: #eeeeee;
}

#snippets .row {
	margin-bottom: 0;
}

#snippets p {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	color: rgba(128,128,128,0.9);
}

.stats {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.stat {
	width: 24%;
	display: inline-block;
	margin: 0;
	border-right: 1px solid rgba(128,128,128,0.45);
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}

@media (max-width: 768px) {
	.stat {
		width: 49%;
	}

	.stat {
		border-right: none;
	}
}

.stat:last-child {
	border: none;
}

.number, .word {
	display: flex;
}

.number p {
	font-size: 4rem;
	font-weight: 100;
}

.word p {
	font-size: 1.75rem;
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.stat {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.stat:first-child, .stat:nth-child(2) {
		margin-bottom: 1.8rem;
	}
}

@media (max-width: 450px) {
	.stat {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

@media (max-width: 340px) {
	.number p {
		font-size: 3rem;
		margin-bottom: 0;
	}

	.word p {
		font-size: 1.25rem;
		margin-bottom: 0;
	}
}

/*---------------------------------------
   Overview  section
-----------------------------------------*/

#overview img {
  position: relative;
  padding-bottom: 32px;
}

#overview {
	padding-top: 8rem;
	padding-bottom: 8rem;
	position: relative;
}

#speakers, #sponsors {
	position: relative;
}

#overview::after, #speakers::after, #sponsors::after, #info::after {
  content: "";
  background: url('../images/icons/pattern.png');
	background-position: center;
	opacity: 0.04;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.overview-info {
	width: 100%;
	display: flex;
}

.overview-left > * {
	width: 50%;
	display: inline-block;
}

.title {
	border-left: 4px solid #78BE20;
	padding-left: 2rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	float: left;
}

.title h2 {
	margin: 0;
	font-weight: 100;
	color: #78BE20;
}

.bold {
	font-weight: 900;
}

@media (max-width: 768px) {
	.overview-left > * {
		width: 100%;
	}

	.description {
		margin-top: 5rem;
	}
}

/*---------------------------------------
    Detail section
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
  color: #f2545f;
  font-size: 48px;
}



/*---------------------------------------
    Video section
-----------------------------------------*/
#video iframe {
  border: none;
}



/*---------------------------------------
   Speakers section
-----------------------------------------*/

#speakers h2 {
	color: #78BE20;
	display: inline-block;
	width: inherit;
}

#speakers .section-title {
	display: inline-block;
	float: left;
	border-color: #78BE20;
	margin-bottom: 4rem;
}

#speakers h3 {
    font-size: 16px;
    margin-bottom: 0px;
		color: #888888;
}

@media (max-width: 370px) {
	#speakers h3 {
		font-size: 12px;
	}
	#speakers h6 {
		font-size: 10px;
	}
}

#speakers h6 {
  color: #888888;
  margin-top: 4px;
}

#speakers img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#speakers .col-md-3 {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#speakers .row .row {
	margin-bottom: 0;
}

#speakers .speakers-wrapper {
    padding-bottom: 22px;
}

@media (min-width: 992px) {
	#speakers .offset {
		margin-right: 11.11111111%;
	}
}

/*---------------------------------------
   Faq section title
-----------------------------------------*/
#faq-title {
	background: #eeeeee;
	padding-top: 4rem;
}

/*---------------------------------------
   Faq section
-----------------------------------------*/
#faq {
  padding-top: 2.5rem;
	background-color: #eeeeee;
}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-container {
	display: flex;
}

#faq .panel-group {
  margin-top: 24px;
	width: 48%;
}

@media (max-width: 768px) {
	.panel-container {
		flex-direction: column;
	}

	#faq .panel-group {
	  margin-top: 0;
		margin-bottom: 0;
		width: 100%;
	}
}

.panel-group:first-child {
	margin-right: 4%;
}

#faq .panel-group .panel {
  margin-bottom: 26px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  color: #505050;
	background-color: #ffffff;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}


/*---------------------------------------
   Program section
-----------------------------------------*/
.details-image {
	width: 48%;
	margin-right: 4%;
	background-image: url("../images/details.jpg");
	background-size: cover;
	display: inline-block;
}

.details-text {
	width: 47%;
	margin-bottom: 6rem;
}

.details-image, .details-text {
	float: left;
}

.details-image img {
	width: inherit;
}

.details-container {
	display: flex;
	width: 100%;
}

.details-text .section-title {
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
	.details-image {
		width: 100%;
		margin-bottom: 3rem;
		height: 75%;
	}

	.details-container {
		display: block;
		height: 80vh;
	}
}

#program {
	background-color: #eeeeee;
}

#program h4 {
    color: #005F83;
    font-size: 12px;
}

#program h3 {
  margin-top: 16px;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
}

#program .section-title {
	margin-top: 6rem;
}

@media (max-width: 768px) {
	#program .section-title {
		margin-top: 0;
	}
}

#program span {
    padding-right: 12px;
}

#program tr th:first-child, #program tr td:first-child {
	width: 30%;
}

#program tr th:nth-child(2), #program tr td:nth-child(2) {
	width: 36%;
}

#program tr th:last-child, #program tr td:last-child {
	width: 33.333333%;
}

@media (max-width: 768px) {
	div.tab-content {
		padding-bottom: 8rem;
	}
}

.nav-tabs {
  margin-bottom: 0.5rem;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
@media (max-width: 991px) {
	tbody {
		font-size: 1rem;
	}
	thead {
		font-size: 1.2rem;
	}
	.nav-tabs > li > a {
		font-size: 1.2rem;
	}
}
@media (max-width: 768px) {
	.nav-tabs {
		margin-top: 3rem;
	}
}
@media (max-width: 460px) {
	.nav-tabs > li > a {
		font-size: 0.9rem;
	}
	tbody {
		font-size: 0.7rem;
	}
	thead {
		font-size: 0.9rem;
	}
}
@media (max-width: 365px) {
	.nav-tabs > li > a {
		font-size: 0.7rem;
	}
	tbody {
		font-size: 0.6rem;
	}
	thead {
		font-size: 0.7rem;
	}
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #005F83;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}
.tab-content {
  padding-top: 20px;
}

.tab-content * {
	padding-left: 0;
	padding-right: 0;
}

.date-container {
	display: flex;
}

.date-container h6 {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}


/*---------------------------------------
    Regsiter section
-----------------------------------------*/
#register {
    background: url('../images/register-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

#register .form-control {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

#register input {
  height: 45px;
}

#register input[type="submit"] {
  background: #f2545f;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#register input[type="submit"]:hover {
  background: #ffffff;
  color: #222;
}






/*---------------------------------------
   Venue section
-----------------------------------------*/
#venue {
    background: url('../images/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#venue p {
  padding-top: 12px;
  padding-bottom: 18px;
}



/*---------------------------------------
   Sponsors section
-----------------------------------------*/
#sponsors {
	padding-top: 2.5rem;
	text-align: left;
}

#sponsors h3 {
	text-transform: uppercase;
	font-weight: bold;
}

#sponsors .section-title {
	border-color: #78BE20;
}

#sponsors .section-title h2 {
	color: #78BE20;
}

@media (max-width: 550px) {
	#sponsors h3 {
		font-size: 2rem;
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
	}
}

@media (max-width: 400px) {
	#sponsors h3 {
		font-size: 1.25rem;
	}
}

#sponsors .industry {
	padding-top: 1.5rem;
}

#sponsors .industry .image-container {
	width: 60%;
}

#sponsors .industry .image-container.centene {
	float: left;
	clear: both;
	width: 45%;
	margin-top: 7%;
	margin-left: 29%;
}

#sponsors .industry .image-container.panera {
	width: 33%;
	margin-top: -1%;
	float: left;
	margin-left: 33%;
}

#sponsors .industry .image-container.es {
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 768px) {
	#sponsors .industry .image-container.centene {
		width: 58%;
		margin-left: 25%;
	}

	#sponsors .industry .image-container.panera {
		width: 42%;
		margin-left: 32%;
	}

	#sponsors .industry .image-container.es {
		width: 85%;
	}
}

#sponsors .industry-mid .image-container {
	width: 28%;
}

.tradebot {
	float: left;
	margin-top: 7%;
	margin-left: 20%;
}

.mixmax {
	float: right;
	margin-top: 7%;
	margin-right: 20%;
}

#sponsors .industry-mid .image-container.enterprise {
	width: 48%;
  margin-left: 24.5%;
  float: left;
  margin-top: -4%;
  margin-bottom: -2%;
}

@media (max-width: 768px) {
	#sponsors .industry-mid .image-container {
		width: 38%;
	}

	.tradebot {
		margin-top: 4%;
		margin-left: 10%;
	}

	.mixmax {
		margin-top: 5%;
		margin-right: 10%;
	}

	#sponsors .industry-mid .image-container.enterprise {
		width: 64%;
    margin-left: 15.5%;
    margin-top: -8%;
    margin-bottom: -1%;
	}
}

#sponsors .industry-other .image-container {
	width: 20%;
	display: inline-block;
	margin-top: 5%;
}

#sponsors .industry-other .image-container.edward {
	float: left;
	margin-top: 8%;
	margin-left: 25%;
	margin-right: 4%;
	width: 16%;
	clear: both;
}

#sponsors .industry-other .image-container.emerson {
	width: 14%;
	margin-top: 4.5%;
	float: left;
}

#sponsors .industry-other .image-container.hw {
	float: right;
	display: block;
	margin-right: 22%;
	margin-top: 7%;
	width: 16%;
}

#sponsors .industry-other .image-container.labs {
	width: 15%;
	float: left;
	margin-left: 24%;
	margin-right: 2%;
	margin-top: 3%;
}

#sponsors .industry-other .image-container.master {
	float: left;
	margin-top: 3%;
}

#sponsors .industry-other .image-container.git {
	float: right;
	width: 10%;
	clear: both;
	margin-right: 27%;
	margin-top: -4%;
}

#sponsors .industry-other .image-container.rr {
	float: left;
  margin-top: 2.75%;
  margin-left: 22%;
  margin-right: -1%;
  width: 18%;
}

#sponsors .industry-other .image-container.slalom {
	float: left;
  width: 13%;
  margin-top: 1.75%;
  margin-left: 6%;
}

#sponsors .industry-other .image-container.software {
	float: right;
  width: 14%;
  margin-right: 24%;
  margin-top: 2%;
}

#sponsors .industry-other .image-container.cbo {
	clear: both;
	width: 10%;
	float: left;
	margin-top: 1.5%;
	margin-left: 28%;
	margin-right: 3%;
}

#sponsors .industry-other .image-container.vet {
	float: left;
	margin-top: 1%;
}

#sponsors .industry-other .image-container.linode {
	float: right;
	width: 12%;
	margin-top: 1%;
	margin-right: 24%;
}

#sponsors .industry-other .image-container.allscripts {
	float: left;
	clear: both;
	width: 15%;
  margin-left: 24%;
  margin-top: 3%;
}

#sponsors .industry-other .image-container.accenture {
	float: left;
	margin-top: 1.9%;
  width: 14%;
  margin-left: 5%;
}

#sponsors .industry-other .image-container.att {
	float: left;
	width: 12%;
  margin-top: 2%;
  margin-left: 5%;
}

#sponsors .industry-other .image-container.sandia {
	margin-left: 27%;
  clear: both;
  float: left;
  width: 12%;
  margin-top: 2%;
}

#sponsors .industry-other .image-container.state {
	width: 18%;
  float: left;
  margin-top: 3%;
  margin-left: 3%;
}

#sponsors .industry-other .image-container.oasis {
	float: left;
  width: 13%;
  margin-top: 1.5%;
  margin-left: 2%;
}

#sponsors .industry-other .image-container.bayer {
	float: left;
  clear: both;
  width: 7%;
  margin-left: 39%;
  margin-top: 0;
}

#sponsors .industry-other .image-container.tyson {
	clear: both;
	float: left;
	margin-top: 1%;
	margin-left: 30%;
}

#sponsors .industry-other .image-container.union {
	float: left;
  margin-top: 3%;
  margin-left: 0;
}

#sponsors .industry-other .image-container.cards {
	float: right;
  width: 7%;
  margin-right: 38%;
  margin-top: 0;
}

@media (max-width: 768px) {
	#sponsors .industry-other .image-container.edward {
		margin-top: 5%;
		margin-left: 11%;
		margin-right: 4%;
		width: 26%;
	}

	#sponsors .industry-other .image-container.emerson {
		width: 20%;
		margin-top: 0;
	}

	#sponsors .industry-other .image-container.hw {
		margin-right: 12%;
		margin-top: 3%;
		width: 23%;
	}

	#sponsors .industry-other .image-container.labs {
		width: 22%;
		float: left;
		margin-left: 11%;
		margin-right: 4%;
		margin-top: 3%;
		clear: both;
	}

	#sponsors .industry-other .image-container.master {
		float: left;
		margin-top: 3%;
		width: 27%;
	}

	#sponsors .industry-other .image-container.git {
		margin-top: -9%;
		width: 15%;
		clear: both;
		margin-right: 17%;
	}

	#sponsors .industry-other .image-container.rr {
		float: left;
		margin-top: 2%;
		margin-left: 12%;
		margin-right: -1%;
		width: 24%;
	}

	#sponsors .industry-other .image-container.slalom {
		float: left;
    width: 23%;
    margin-top: 0%;
    margin-left: 4.5%;
	}

	#sponsors .industry-other .image-container.software {
		float: right;
		width: 18%;
		margin-right: 15%;
		margin-top: 1%;
	}

	#sponsors .industry-other .image-container.cbo {
		width: 14%;
		margin-top: 1.5%;
		margin-left: 18%;
		margin-right: 3%;
	}

	#sponsors .industry-other .image-container.vet {
		margin-top: 0;
		width: 30%;
	}

	#sponsors .industry-other .image-container.linode {
		width: 15%;
		margin-top: 0;
		margin-right: 17%;
	}

	#sponsors .industry-other .image-container.allscripts {
		width: 18%;
    margin-left: 18%;
    margin-top: 0%;
	}

	#sponsors .industry-other .image-container.accenture {
		margin-top: -1.7%;
    width: 17%;
    margin-left: 6.5%;
	}

	#sponsors .industry-other .image-container.att {
		width: 15%;
    margin-top: -1.5%;
    margin-left: 8%;
	}

	#sponsors .industry-other .image-container.sandia {
		margin-left: 22.5%;
	  width: 15%;
	  margin-top: -2%;
	}

	#sponsors .industry-other .image-container.state {
		width: 21%;
	  margin-top: -1%;
	  margin-left: 3%;
	}

	#sponsors .industry-other .image-container.oasis {
	  width: 16%;
	  margin-top: -2.5%;
	  margin-left: 2%;
	}

	#sponsors .industry-other .image-container.bayer {
		width: 9%;
    margin-left: 37.5%;
    margin-top: -2%;
	}

	#sponsors .industry-other .image-container.tyson {
		margin-top: -2.5%;
    width: 24.5%;
    margin-left: 24.5%;
	}

	#sponsors .industry-other .image-container.union {
		width: 23.5%;
    margin-top: 0.5%;
    margin-left: 3.5%;
	}

	#sponsors .industry-other .image-container.cards {
		width: 9%;
    margin-right: 36.5%;
    margin-top: -2%;
	}
}

@media (max-width: 550px) {
	#sponsors .industry-other .image-container.git {
		margin-top: -10%;
	}
}

@media (max-width: 450px) {
	#sponsors .industry-other .image-container.git {
		margin-top: -11%;
	}
}

@media (max-width: 375px) {
	#sponsors .industry-other .image-container.git {
		margin-top: -12.5%;
	}
}

#sponsors .row {
	margin-left: 0;
}

#sponsors .industry-small .image-container {
	width: 12%;
	display: inline-block;
	margin-top: 3.5%;
}

#sponsors .industry-small .image-container.balsamiq {
	clear: both;
	float: left;
	margin-left: 41%;
	width: 7%;
	margin-right: 2%;
}

#sponsors .industry-small .image-container.brewer {
	float: left;
	margin-top: 2.8%;
}

#sponsors .partners .image-container {
	width: 15%;
	display: inline-block;
	margin-top: 2%;
}

#sponsors .partners .image-container.tech {
	clear: both;
	float: left;
	margin-left: 37%;
	margin-top: 1.5%;
	width: 8%;
	margin-right: 1%;
}

#sponsors .partners .image-container.jet {
	float: left;
	width: 4%;
	margin-right: 1%;
	margin-top: 1.5%;
}

#sponsors .partners .image-container.sketch {
	float: left;
	width: 5%;
	margin-right: 2%;
	margin-top: 1%;
}

#sponsors .partners .image-container.wolfram {
	float: left;
	width: 3%;
	margin-right: 2%;
}

#sponsors .partners .image-container.do {
	float: left;
	width: 3%;
	margin-right: 2%;
}

#sponsors .partners .image-container.mule {
	float: left;
	clear: both;
	width: 18%;
	margin-left: 36%;
	margin-top: 0.5%;
}

#sponsors .partners .image-container.js {
	float: left;
	width: 14%;
	margin-top: 1.5%;
}

#sponsors .partners .image-container.sport {
	float: left;
	clear: both;
	margin-left: 44%;
	margin-top: 0%;
	width: 19%;
}

@media (max-width: 768px) {
	#sponsors .industry-small .image-container.balsamiq {
		margin-left: 35%;
		width: 12%;
		margin-right: 2%;
		margin-top: -1.5%;
	}

	#sponsors .industry-small .image-container.brewer {
		margin-top: -2.5%;
		width: 19%;
		margin-right: 2%;
	}

	#sponsors .partners .image-container.tech {
		margin-left: 28%;
		margin-top: -1.5%;
		width: 10%;
		margin-right: 1%;
	}

	#sponsors .partners .image-container.jet {
		float: left;
		width: 6%;
		margin-right: 1%;
		margin-top: -1.5%;
	}

	#sponsors .partners .image-container.sketch {
		float: left;
		width: 7%;
		margin-right: 2%;
		margin-top: -2%;
	}

	#sponsors .partners .image-container.wolfram {
		float: left;
		width: 5%;
		margin-right: 2%;
		margin-top: -1%;
	}

	#sponsors .partners .image-container.do {
		float: left;
		width: 5%;
		margin-right: 2%;
		margin-top: -1%;
	}

	#sponsors .partners .image-container.mule {
		width: 23%;
		margin-left: 27%;
		margin-top: -2.5%;
		margin-bottom: -4%;
	}

	#sponsors .partners .image-container.js {
		width: 19%;
    margin-top: -1.1%;
	}

	#sponsors .partners .image-container.sport {
		margin-left: 37%;
    margin-top: -3%;
    width: 24%;
	}
}

#sponsors .partners .image-container.mlh {
	float: left;
	margin-left: 36%;
	margin-top: 3.5%;
	width: 9%;
}

#sponsors .partners .image-container.acm {
	float: left;
	width: 11%;
	margin-left: 3%;
}

#sponsors .partners .image-container.acm-w {
	float: left;
	margin-left: 3%;
	width: 9%;
	margin-top: 2.75%;
}

#sponsors .partners .image-container.sandt {
	clear: both;
  float: left;
  width: 35%;
  margin-left: 35.5%;
  margin-top: 1%;
}

#sponsors .partners .image-container.lib {
	clear: both;
	float: left;
	margin-left: 46.5%;
	width: 14%;
}

@media (max-width: 768px) {
	#sponsors .partners .image-container.mlh {
		margin-left: 26%;
		margin-top: 3.5%;
		width: 14%;
	}

	#sponsors .partners .image-container.acm {
		float: left;
		width: 15%;
		margin-left: 5%;
		margin-top: 2.5%;
	}

	#sponsors .partners .image-container.acm-w {
		float: left;
		margin-left: 4%;
		width: 13%;
		margin-top: 3.5%;
	}

	#sponsors .partners .image-container.sandt {
		width: 45%;
    margin-left: 26.5%;
    margin-top: -2%;
	}
}

#sponsors .section-title {
	margin-top: 5%;
	margin-bottom: 2%;
}

#sponsors img {
	width: 100%;
}

.showDesktop {
	display: none;
}

@media (min-width: 768px) {
	#sponsors .image-container {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.showDesktop {
		display: block;
	}

	.showMobile {
		display: none;
	}
}

#sponsors a div {
	transition: all linear 0.1s;
}

#sponsors a:hover div {
	transform: scale(1.1);
}

/*---------------------------------------
   Contact section
-----------------------------------------*/
#contact {
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
}

#contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #f2545f;
}

/*---------------------------------------
   Info section
-----------------------------------------*/

#info {
	padding-top: 8rem;
	padding-bottom: 4rem;
}

#info .container h1 {
	text-align: center;
	margin: 2rem 0;
	font-size: 4rem;
}

#info .section-title {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#info img {
	width: 100%;
}

#info ul {
	padding-left: 4rem;
}

#info ul li {
	list-style-type: disc;
}

/*---------------------------------------
   Footer section
-----------------------------------------*/
footer {
  background-attachment: fixed;
	background: transparent;
	padding: 1rem 0;
}

footer p {
	font-weight: bolder;
	color: #ffffff;
}

footer a i {
	color: white;
	margin-left: 2rem;
	transition: all .2s linear;
}

footer a:hover i {
	color: #cccccc;
}

@media (max-width: 992px) {
	footer {
		margin-top: -4rem;
	}
}

/* Back top */
.go-top {
  background-color: #222;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}


/*---------------------------------------
   Social icon
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #ffffff;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #036084;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media (max-width: 980px) {

  p, #info ul {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
		padding: 0 15px;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }

  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (min-width: 768px) {
	.custom-navbar .navbar-brand {
		line-height: 20px;
	}
}

@media (min-width: 980px) {
	.custom-navbar .navbar-brand i {
		line-height: 40px;
	}

	.custom-navbar .navbar-brand img {
		height: 20px;
	}
}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
		padding: 0 15px;
		order: -1;
  }

	.custom-navbar .container {
		display: block;
	}

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }

	.row {
		margin-left: 0;
		margin-right: 0;
	}

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}

@media (max-width: 2000px) {
    #hacker-guide .navbar-header {
        float: none;
    }
    #hacker-guide .navbar-left,.navbar-right {
        float: none !important;
    }
    #hacker-guide .navbar-toggle {
        display: block;
    }
    #hacker-guide .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #hacker-guide .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #hacker-guide .navbar-collapse.collapse {
        display: none!important;
    }
    #hacker-guide .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    #hacker-guide .navbar-nav>li {
        float: none;
    }
    #hacker-guide .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #hacker-guide .collapse.in{
        display:block !important;
    }

		#hacker-guide .custom-navbar .navbar-header {
			display: flex;
		}

		.custom-navbar .container {
			display: flex;
		}

		#hacker-guide .custom-navbar .container {
			display: block;
		}
}
