body {
  background: rgb(147,237,158) no-repeat;
  background: linear-gradient(180deg, rgba(147,237,158,1) 0%, rgba(51,217,119,1) 20%, rgba(138,220,101,1) 34%, rgba(73,214,101,1) 53%, rgba(137,123,120,1) 67%, rgba(84,75,87,1) 78%, rgba(53,44,55,1) 88%, rgba(39,31,53,1) 96%) no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding-top: 1rem !important;
}

nav li {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  margin-left: 1rem;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav li a {
  color: rgba(0, 0, 0, 0.75);
}

.navbar {
  width: 100%;
}

nav .container {
  position: relative;
}

.navbar-nav :not(.logo) {
  margin-top: 12px;
  font-weight: bolder;
}

.nav-item {
  font-size: 1.25rem;
}

.nav-item:first-child {
  margin-left: 0;
}

#intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/artwork.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 65% auto;
  margin-top: -6.625rem;
}

.main-info {
  text-align: right;
  margin-left: auto;
  padding: .5rem 1rem;
}

.main-info h1 {
  letter-spacing: 16px;
  margin-right: -16px;
  font-weight: bolder;
  font-size: 4.5rem;
}

.main-info h4 {
  font-size: 2.5rem;
}

.register-button {
  border-radius: 2.5rem;
  font-weight: 100;
  background-color: black;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
}

#about-section {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 4rem;
}

.about-text {
  width: 60%;
  padding: 0 0 0 1rem;
  margin: auto 0;
}

.about-text h2 {
  font-size: 2.75rem;
  letter-spacing: 10px;
  font-weight: bolder;
}

.about-text p {
  width: 75%;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 1.25rem;
}

.about-image {
  display: flex;
  flex-direction: column;
}

.about-image img {
  width: 75%;
  margin: auto 0 auto 10%;
}