body {
  font-family: Arial, Helvetica, sans-serif;
  background: #65e58c;
  transition: background 0.75s ease;
}

nav {
  padding-top: 1rem !important;
}

nav li {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  margin-left: 1rem;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav li a {
  color: rgba(0, 0, 0, 0.75);
}

.navbar {
  width: 100%;
}

nav .container {
  position: relative;
}

.navbar-nav :not(.logo) {
  margin-top: 12px;
  font-weight: bolder;
}

.nav-item {
  font-size: 1.25rem;
}

.nav-item:first-child {
  margin-left: 0;
}

#intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/artwork.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 65% auto;
  margin-top: -6.625rem;
}

.main-info {
  text-align: right;
  margin-left: auto;
  padding: .5rem 1rem;
}

.main-info h1 {
  letter-spacing: 16px;
  margin-right: -16px;
  font-weight: bolder;
  font-size: 4.5rem;
}

.main-info h4 {
  font-size: 2.5rem;
}

.register-button {
  border-radius: 2.5rem;
  font-weight: 100;
  background-color: black;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
}

#about-section, #schedule-section, #faq-section, #sponsor-section {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 4rem;
}

.about-text {
  width: 60%;
  padding: 0 0 0 1rem;
  margin: auto 0;
}

.about-text h2 {
  font-size: 2.75rem;
  letter-spacing: 10px;
  font-weight: bolder;
}

.about-text p {
  width: 75%;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 1.25rem;
}

.about-image {
  display: flex;
  flex-direction: column;
}

.about-image img {
  width: 75%;
  margin: auto 0 auto 10%;
}

#schedule-section {
  padding: 0 calc(15px + 0.5rem) 15px 0 !important;
}

.schedule-table {
  width: 100%;
  padding: 0.5rem 1rem;
}

.schedule-table td {
  font-size: 1.5rem;
  width: 33.33%;
}

.schedule-table td:nth-child(2) {
  text-align: center;
}

.schedule-table td:nth-child(3) {
  text-align: right;
}

.table-scroller {
  display: flex;
}

.table-scroller .fa-caret-left {
  margin-left: auto;
}

.table-scroller p {
  font-style: italic;
  margin: auto 1rem;
  width: inherit;
  font-size: 1.25rem;
}

.table-scroller .fa-caret-right {
  margin-right: auto;
}

#faq-section {
  color: white;
}

#faq-section .about-text h2 {
  margin-bottom: 1rem;
}

.question-answer h3 {
  font-weight: bolder;
  font-size: 1.5rem;
}

.question-answer p {
  font-size: 1.5rem;
}

.question-answer h3, .question-answer p {
  letter-spacing: 2px;
}

#sponsor-section {
  color: white;
}

#sponsor-section .about-text {
  width: 100%;
  text-align: center;
}